<app-header />

<!-- rest of the app content -->

<main>
  <ul>
    <li>
      <app-user [user]="usersArray[0]" (select)="onSelectedUser($event)" />
    </li>
    <li>
      <app-user [user]="usersArray[1]" (select)="onSelectedUser($event)" />
    </li>
    <li>
      <app-user [user]="usersArray[2]" (select)="onSelectedUser($event)" />
    </li>
    <li>
      <app-user [user]="usersArray[3]" (select)="onSelectedUser($event)" />
    </li>
  </ul>

  <app-tasks [name]="selectedUser.name" />

  <p class="">{{ selectedUserID }}</p>
</main>
